.all{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    align-items: center;
}
.top{
    display: flex;
    flex-direction: column;
background-image: url(../images/background.png);
background-repeat: no-repeat,no-repeat;
   background-size:cover;
background-position: center center;
width: 100%;
height: 100%;
}
.top1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-between ;
    font-size: 0.9em;
border-bottom: 1.5px solid  rgba(255, 254, 254, 0.14);
  background: rgba(0, 0, 0, 0.08);
}
.LH{
    margin-left: 300px;
}
.menu1 ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right:300px;
}
.menu1 ul li{
    list-style: none;
}
.top2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-between ;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
    background: rgba(182, 176, 176, 0.08)
}
.tilte{
   
    margin-left: 300px;
    font-size: 1.2em;
}
.menu2{
    margin-right: 300px;
}
.menu2 ul{
display: flex;
flex-direction: row;
gap: 40px;
}
.menu2 ul li{
    list-style: none;
}
.undertop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-between ;
    align-items: center;
    background-color: rgb(1,28,56);
    background-size: cover;
    width: 100%;
    
}
.undertop .img1{
margin-left: 300px;
position: relative;
top: 30px;
}
.loginscreen{
    display: flex;
    flex-direction: column;

}
.slogan{
    font-size: 1.6em;
    padding-bottom:40px;
}
.login{
    display: flex;
flex-direction: column;
gap: 10px;
margin-right:287px ;
padding-bottom: 30px;
}
 .login >div{
display: flex;
flex-direction: row;
gap: 10px;
}
.login >div  input{
    background-color: rgba(212, 206, 206, 0.2);
    border: rgb(1,28,56) ;
    height: 40px;
    width: 345px;
}

.login >div ::placeholder{
    color: white;
    padding-left: 15px;
}
.guitt {
   margin-left:583px;
    background-color:  rgb(1,28,56);
   
text-align: center;
}
.guitt a{
    color: rgb(202, 86, 68);
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 550;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 15px;
padding-right: 15px;
    border: 2.7px solid  rgb(202, 86, 68);
}
.news{
    color:black;
display: flex;
flex-direction: row;
margin-top: 60px;
gap: 2x;

position: relative;
right: 11.5px;
}
.tintuc{
    display: flex;
    flex-direction: column;
}
 .head{
    display: flex;
    flex-direction: column; 
    position: relative;
    left: 39px;   
    font-size: 30px;
    color: black;
}
.tt ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.tt ul li{
    display: flex;
    flex-direction: column;
    list-style: none;
gap: 10px;
width: 400px;
}
.tt ul li a{
    color: gray;
}
.tt ul li {
    border-bottom: 1px solid rgb(128, 128, 128,0.4);
}
.tt ul li img{
    margin-right:4px;
}
.tt ul li .tt1{
    color: rgb(45, 45, 88);
    margin-left:8px;
    padding-bottom: 15px;
}
.head2{
    display: flex;
    flex-direction: column; 
    position: relative;
    left: 39px;   
    font-size: 30px;
}
.sk{
    color: white;
}
.sk ul li{
   display: flex;
   flex-direction: row;
}
.sk ul li >div {  
    display: flex;
    flex-direction:column;
}
.sk ul li .t 
{
    width: 290px;
    margin-left: 15px;
     color: rgb(46, 46, 155);
}
.sk ul li .t :last-child{
    color: rgb(128, 128, 128);
} 
.head3{

    display: flex;
    flex-direction: column; 
    position: relative;
       
    font-size: 30px;
}
.sm{
    display: flex;
    flex-direction:column;
    margin-top: 16px;
}
.sm img{
   width: 470px;
}
.sm a{
    width:417.5px;
    margin-top: 15px;
    color: gray;
    text-align:justify;
    line-height: 23px;
}
.mid{
    background-color: rgb(2, 36, 71);
    width: 1108px;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    padding-right: 150px;
}
.mid >div ul{
    line-height: 40px;
    
}
.head4{
    display: flex;
    flex-direction: column; 
    font-size: 30px;
}
.undermid{
    display: flex;
    width: 1288px;
    gap: 40px;
 
}

.ds1 {
display: flex;
flex-direction: column;
gap: 10px;
position: relative;
}
.ds1 >div  {
    display: flex;
    border: 1px solid rgb(128, 128, 128,0.1);
align-items: center;
width: 425px;
height: 105px;
padding-left: 10px;

}
.ds1 >div >div {
    display: flex;
    flex-direction: column; 
    position: relative;
    color: black;
    font-size:0.94em;
    gap: 5px;
    
}
.ds1 div img{
    width: 90px;
    position: relative;

}
.head5{
    display: flex;
    flex-direction: column; 
    font-size: 23px;
    color: black;
}
.head6{
font-weight: lighter;
        display: flex;
        flex-direction: column; 
        position: relative;
        left: 22px;   
        font-size: 30px;
    }
.thuvien{
    display: flex;
    flex-direction: column;
    object-fit: cover;
    width: 100%;
    
}
.anh{
    object-fit: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:10px;
}
.anh >div{
    display: flex;
    gap: 10px;
}
.anh >div img{
    width: 107px;
}
.ket{
    background-image: url(../images/background.png);
    background-repeat: no-repeat,no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center,center;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;

}
.ket1{
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}
.ket3{
    padding-right: 300px;
}
.ket div div{
    line-height: 25px;
    color: rgb(255, 255, 255,0.85);
}

.ket3 div {
    
width: 410px;
}
.duoiket{
    background-color: rgb(2, 36, 71);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
   
    padding-top: 30px;
    padding-bottom: 30px;
}